html {
	font-size: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #e8e8ff !important;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.website-title{
    text-align: center;
    font-size: 2vw;
    color: #2d3142;
}

#body-one {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.part-title {
    text-align: center;
    font-size: 2vw;
    color: #2d3142;
}

.homepage {
    display: flex;
    justify-content: space-around;
    align-self: center;
    height: fit-content;
    overflow: hidden;
    text-align: center;
}

#original {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: fit-content;
    overflow: hidden;
    align-self: center;
    margin: auto;
}

.part-one-text {
    text-align: center;
    font-size: 1vw;
    color: #2d3142;
}

